*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown {
    display: none;
    width: 100%;
    position: absolute;
}

ul li a:hover{
    transition: 1s;
    text-decoration: underline;
    text-decoration-color: #ddd;
}

ul li:hover ul.dropdown{
    display: block;
}

body{
    background-image: url(image-3.jpg);
    background-size: cover;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}

.container{
    margin: auto;
    width: 400px;
    max-width: 90%;
    justify-content: center;
    text-align: center;
}

.container form{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    box-shadow: 10px 8px 16px rgba(0,0,0,3);
}

.container h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.container form .forminput{
    width: 100%;
    height: 25px;
    border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 0px 4px 10px;
    margin-bottom: 15px;
}

.container form .button{
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid silver;
    margin-top: 15px;
    box-shadow: 0px 3px 5px;
    margin-bottom: 10px;
}

.container form .button:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #ddd;
}
