body{
    background-color: gray;
}


 /* Basic styling for the navbar */
 .navbar {
    background-color: gray;
    overflow: hidden;
}

/* Style for the navbar links */
.navbar a {
    font-family: sans-serif;
    font-weight: bold;
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
    /*everything else*/

    p{
color: gray;
}

label{
    color: antiquewhite;
    padding-bottom: 10%;
}


.divfirstName{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.divfirstName label {
    padding-right: 18px;
}

.lastname{
    padding-bottom: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.lastname label{
    padding-right: 3px;
}

.password{
    padding-right: 28.5px;
}

#divpassword{
    padding-bottom: 15px;
    padding-right: 1%;
    font-weight: bold;
    font-family: sans-serif;
}



.divgender{
        padding-bottom: 15px;
        font-family: sans-serif;
        font-weight: bold;
}

.divgender select{
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 40px;
}

.divage{
    padding-bottom: 15px;  
    font-family: sans-serif;
    font-weight: bold;  
}

.divage input{
    margin-left: 50px;
    font-weight: bold;
    font-family: sans-serif;
}

.divbday{
    padding-right: 35px;
    font-family: sans-serif;
    font-weight: bold;
}

.divbday input{
    margin-left: 35px;
}

.divmessage{
    padding-bottom: 15px;
}

.Message{
    padding-bottom: 15px;
    font-weight: bold;
    font-family: sans-serif;
    padding-right: 38px;
}

.divbutton{
    text-align: center;
}

.button{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 80px;
    border-radius: 30px;
    }

    .button:hover{
        background-color: darkgray;
    }



